*{
  box-sizing: border-box;
}

@font-face {
font-family: 'MyWebFont';
src: url('myfont.woff2') format('woff2')
url('myfont.woff') format('woff');
}

body {
  font-size: 14px;
  color: #333333;
  font-family: PT Sans;
  line-height: 21px;
  width: 100%;
}

h1 {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  font-family: PT Sans;
  line-height: 26px;
}

h2 {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  font-family: PT Sans;
  line-height: 21px;
}

h3 {
  font-size: 30px;
  line-height: 24px;
  color: #000000;
}

.container {
  margin: 0 auto;
  width: 1200px;
  text-transform: uppercase;
  outline: 1px solid #666;
}

.header {
  width: 100%;
}

.main-menu ul {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  outline: 1px solid #666;
}

.main-menu li {
  width: 240px;
  list-style: none;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.main-menu li:nth-child(2) {
  margin-right: 240px;
}

.main-menu a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 10;
}

.footer {
  width: 100%;
  display: flex;
}

.footer div {
  width: 400px;
  outline: 1px solid #666;
}

.hashtag {
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 132px;
}

.hashtag a {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.share ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 124px;
  list-style: none;
}

.share li {
  width: 46px;
  height: 48px;
  background: #81b3d2;
  margin-right: 6px;
}

.copyright {
  padding-top: 41px;
  padding-left: 100px;
}

/*Главная страница*/

.main-image {
  width: 100%;
  text-align: center;
  background: url(../img/background.jpg) no-repeat;
  height: 510px;
  position: relative;
  background-position: 65% 20%;
}

.welcome-sign {
  position: absolute;
  top: 76px;
  left: 371px;
}

.welcome-bottom {
  position: absolute;
  top: 452px;
}

.description {
  width: 100%;
  text-align: center;
  padding: 355px;
  padding-top: 60px;
  padding-bottom: 57px;
}

.description p {
  line-height: 26px;
  margin: 0;
  padding-top: 15px;
}

.features {
  width: 100%;
  display: flex;
  outline: 1px solid #666;
}

.features-item {
  width: 400px;
  text-align: center;
  outline: 1px solid #666;
}

.features-item p {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 46px;
  outline: 1px solid #666;
}

.features-item h2 {
  margin-top: 55px;
  padding-left: 125px;
  padding-right: 125px;
  outline: 1px solid #666;
}

.features-blue {
  background: #81b3d2;
  color: #ffffff;
}

.features-blue h2 {
  color: #ffffff;
}

.features-gray {
  background: #eeeeee;
}

.features-image {
  width: 800px;
}

.real-town-image {
  background: url(../img/img-index-1.jpg) no-repeat;
}

.devil-bridge-image {
  background: url(../img/img-index-2.jpg) no-repeat;
}

.recommend {
  width: 100%;
  display: flex;
}

.recommend-item {
  width: 400px;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 80px;
}

.search-hotel {
  width: 100%;
  text-align: center;
  padding-top: 55px;
}

.search-hotel p {
  padding-left: 400px;
  padding-right: 400px;
    outline: 1px solid #666;
}

.search-btn {
  width: 568px;
  margin: 0 auto;
  outline: 1px solid #666;
}

.search-btn a {
  display: block;
  padding-top: 33px;
  padding-bottom: 33px;
  text-decoration: none;
  color: #ffffff;
  background-color: #766357;
}

.booking {
  width: 100%;
  background: url(../img/map.png) no-repeat;
}

.booking-form {
  width: 568px;
  margin: 0 auto;
  background-color: #ffffff;
}

.booking-form:first-child {
 padding-top: 55px;
}

.booking-form:last-child {
 padding-bottom: 54px;
}

.field {
  padding-bottom: 30px;
  overflow: hidden;
  margin-left: 55px;
  margin-right: 55px;
}

.field input {
  float: right;
  width: 346px;
}

.people-quantity-fields {
  display: flex;
}

.field-kids input,
.field-adult input {
  width: 114px;;
}

.btn {
  width: 458px;
  margin-left: 55px;
  margin-right: 55px;
  text-transform: uppercase;
}

.list-item {
  display: flex;
  outline: 1px solid #666;
}


/* Гостиницы */

.hotel-image {
  width: 165px;
  margin-left: 72px;
  outline: 1px solid #666;
}

.hotel-title {
  outline: 1px solid #666;
}

.hotel-description {
  width: 781px;
  outline: 1px solid #666;
}

.hotel-details {
  display: flex;
}

.hotel-book {
  width: 110px;
  outline: 1px solid #666;
}

.hotel-type {
  width: 110px;
  outline: 1px solid #666;
}

.hotel-rating {
  width: 110px;
  outline: 1px solid #666;
}

.stars {
  text-align: right;
}

.rating {
  text-align: right;
}

.preferences {
  width: 100%;
  outline: 1px solid #666;
}

.filter {
  display: flex;
}

.filter-extras {
 width: 264px;
 margin-left: 72px;
 outline: 1px solid #666;
}

.filter-property-type {
 width: 264px;
 outline: 1px solid #666;
}

.filter-cost {
 width: 528px;
 outline: 1px solid #666;
}

.sort {
 display: flex;
 outline: 1px solid #666;
}

.results-amount {
 width: 165px;
 margin-left: 72px;
 outline: 1px solid #666;
}

.sort-by {
 display: flex;
 width: 781px;
 outline: 1px solid #666;
}

.sort-by span {
  line-height: 50px;
  vertical-align: middle;
}

.sort-by ul {
 display: flex;
 list-style: none;
}

.sort-by li {
 width: 95px;
}

.sort-order {
 width: 110px;
 display: flex;
 outline: 1px solid #666;
}

.sort-order ul {
 display: flex;
 list-style: none;
 margin: 0 auto;
}
