*{
  box-sizing: border-box;
}

@font-face {
font-family: 'MyWebFont';
src: url('myfont.woff2') format('woff2')
url('myfont.woff') format('woff');
}

body {
  font-size: 14px;
  color: #333;
  font-family: PT Sans;
  line-height: 21px;
  width: 100%;
}

h1 {
  font-size: 21px;
  color: #000;
  font-weight: bold;
  font-family: PT Sans;
  line-height: 26px;
}

h2 {
  font-size: 21px;
  color: #000;
  font-weight: bold;
  font-family: PT Sans;
  line-height: 21px;
}

h3 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  outline: 1px solid #666;
}

.container {
  margin: 0 auto;
  width: 1200px;
  text-transform: uppercase;
  outline: 1px solid #666;
}

.header {
  width: 100%;
}

.main-menu ul {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  outline: 1px solid #666;
}

.main-menu li {
  width: 240px;
  list-style: none;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.main-menu li:nth-child(2) {
  margin-right: 240px;
}

.main-menu a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.main-menu a:hover {
  color: #81b3d2;
}

.main-menu a:active {
  color: #000;
  opacity: 0.3;
}

a.main-menu-active {
  color: #766357;
}

a.main-menu-active:hover {
  color: #604e43;
}

a.main-menu-active:active {
  color: #766357;
  opacity: 0.3;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 10;
}

.footer {
  width: 100%;
  display: flex;
}

.footer div {
  width: 400px;
  outline: 1px solid #666;
}

.hashtag {
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 132px;
}

.hashtag a {
  font-size: 21px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.share ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 124px;
  list-style: none;
}

.share li {
  width: 46px;
  height: 48px;
  background: #81b3d2;
  margin-right: 6px;
}

.copyright {
  padding-top: 41px;
  padding-left: 100px;
}

/*Главная страница*/

.main-image {
  width: 100%;
  text-align: center;
  background: url(../img/background.jpg) no-repeat;
  height: 510px;
  position: relative;
  background-position: 65% 20%;
}

.welcome-sign {
  position: absolute;
  top: 76px;
  left: 371px;
}

.welcome-bottom {
  position: absolute;
  top: 452px;
}

.sedona-intro {
  width: 100%;
  text-align: center;
  padding: 355px;
  padding-top: 60px;
  padding-bottom: 57px;
}

.sedona-intro p {
  line-height: 26px;
  margin: 0;
  padding-top: 15px;
}

.features {
  width: 100%;
  display: flex;
  outline: 1px solid #666;
}

.features-item {
  width: 400px;
  text-align: center;
  outline: 1px solid #666;
}

.features-item p {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 46px;
  outline: 1px solid #666;
}

.features-item h2 {
  margin-top: 55px;
  padding-left: 125px;
  padding-right: 125px;
  outline: 1px solid #666;
}

.features-blue {
  background: #81b3d2;
  color: #fff;
}

.features-blue h2 {
  color: #fff;
}

.features-gray {
  background: #eee;
}

.features-image {
  width: 800px;
}

.real-town-image {
  background: url(../img/img-index-1.jpg) no-repeat;
}

.devil-bridge-image {
  background: url(../img/img-index-2.jpg) no-repeat;
}

.recommend {
  width: 100%;
  display: flex;
}

.recommend-item {
  width: 400px;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 80px;
}

.search-hotel {
  width: 100%;
  text-align: center;
  padding-top: 55px;
}

.search-hotel h3 {
  font-size: 30px;
  line-height: 24px;
  color: #000;
}

.search-hotel p {
  padding-left: 400px;
  padding-right: 400px;
    outline: 1px solid #666;
}

.search-btn {
  width: 568px;
  margin: 0 auto;
  outline: 1px solid #666;
}

.search-btn a {
  display: block;
  padding-top: 33px;
  padding-bottom: 33px;
  text-decoration: none;
  color: #ffffff;
  background-color: #766357;
}

.booking {
  width: 100%;
  background: url(../img/map.png) no-repeat;
}

.booking-form {
  width: 568px;
  margin: 0 auto;
  background-color: #fff;
}

.booking-form input {
  background-color: #f2f2f2;
}

.booking-form input:hover {
  background-color: #ebebeb;
}

.booking-form input:active {
  background-color: #fff;
}

.booking-form:first-child {
 padding-top: 55px;
}

.booking-form:last-child {
 padding-bottom: 54px;
}

.field {
  padding-bottom: 30px;
  overflow: hidden;
  margin-left: 55px;
  margin-right: 55px;
}

.field input {
  float: right;
  width: 346px;
}

.people-quantity-fields {
  display: flex;
}

.field-kids input,
.field-adult input {
  width: 114px;;
}

.booking-btn {
  width: 458px;
  margin-left: 55px;
  margin-right: 55px;
  text-transform: uppercase;
  background-color: #81b3d2;
}

.booking-btn:hover {
  background-color: #669ec0;
}

.booking-btn:active {
  background-color: #5496bd;
}





/* Гостиницы */

.list-item {
  display: flex;
  padding: 30px 0;
  outline: 1px solid #666;
}

.list-item h1 {
  margin: 0;
}

.list-item a {
  text-decoration: none;
  color: #000;
}

.hotel-image {
  width: 165px;
  margin-left: 72px;
  outline: 1px solid #666;
}

a.hotel-title:hover {
  color: #81b3d2;
}

a.hotel-title:active {
  color: #000;
  opacity: 0.3;
}

.hotel-description {
  width: 781px;
  outline: 1px solid #666;
}

.hotel-details {
  display: flex;
}

.hotel-details span {
  display: block;
  padding-bottom: 14px;
  padding-top: 11px;
}

.hotel-details a {
  padding: 5px 15px;
  color: #fff;
  outline: 1px solid #666;
}

.hotel-type a {
  background-color: #81b3d2;
}

.hotel-type a:hover {
  background-color: #669ec0;
}

.hotel-type a:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-book a {
  background-color: #766357;
}

.hotel-book a:hover {
  background-color: #604e43;
}

.hotel-book a:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-type,
.hotel-book  {
  width: 110px;
  outline: 1px solid #666;
}

.hotel-rating {
  width: 110px;
  outline: 1px solid #666;
}

.stars {
  text-align: right;
}

.rating {
  margin-top: 39px;
  text-align: right;
  padding: 5px 0;
  padding-right: 13px;
  padding-left: 10px;
  background-color: #f2f2f2;
}

.preferences {
  width: 100%;
  background: url(../img/filter-background.jpg) no-repeat;
  height: 217px;
  outline: 1px solid #666;
}

.preferences h2 {
  font-size: 16px;
  line-height: 21px;
  padding-top: 20px;
  color: #fff;
}

.filter {
  display: flex;
}

.filter-extras {
 width: 264px;
 margin-left: 72px;
 outline: 1px solid #666;
}

.filter-property-type {
 width: 264px;
 outline: 1px solid #666;
}

.filter-cost {
 width: 528px;
 outline: 1px solid #666;
}

.filter-cost h2 {
  padding-left: 200px;
}

.check-box {
  padding-bottom: 28px;
}

.sort {
 display: flex;
 padding-top: 38px;
 padding-bottom: 31px;
 outline: 1px solid #666;
}

.sort h3 {
  margin: 0;
  padding: 0;
}

.results-amount {
 width: 165px;
 margin-left: 72px;
 outline: 1px solid #666;
}

.sort-by {
 display: flex;
 width: 781px;
 outline: 1px solid #666;
}

.sort-by span {
  display: block;
  padding-right: 35px;
}

.sort-by ul {
 display: flex;
 margin: 0;
 padding: 0;
 list-style: none;
 outline: 1px solid #666;
}

.sort-by li {
  padding-right: 30px;
}

.sort-by li:last-child {
  padding: 0;
}

.sort-by a {
  display: block;
  text-decoration: none;
  color: #000;
  opacity: 0.3;
  border-bottom: 1px dotted rgba(129, 179, 210, 1);
}

a.sort-by-active {
  color: #81b3d2;
  opacity: 1;
  border: none;
}

.sort-by a:hover {
  color: #81b3d2;
  opacity: 1;
  border-bottom: 1px #81b3d2 dotted;
}

.sort-by a:active {
  color: #000;
  border: none;
  opacity: 1;
}

.sort-order {
 width: 110px;
 display: flex;
 outline: 1px solid #666;
}

.sort-order ul {
 display: flex;
 list-style: none;
 margin: 0;
 padding: 0;
 padding-left: 70px;
}
